<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routing project</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css">
   
    <link rel="stylesheet" href="/css/design1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.5/leaflet-routing-machine.css" />
    <link rel="stylesheet" href=/css/leaflet.css>
     <link rel="stylesheet" href="/css/routing.css">


     <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
     <script src="/data/leaflet.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.5/leaflet-routing-machine.js"></script>
     <script src="/data/Control.Geocoder.js"></script>
     <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    
    
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul>
                <li>
                    <a href="">
                        <span class="icon">
                          <ion-icon name="logo-hackernews"></ion-icon>
                         </span>
                        <span class="title">Yusufff WebGIS</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="home"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/index.html">
                        <span class="icon">
                            <ion-icon name="people"></ion-icon>
                        </span>
                        <span class="title">Election</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="analytics"></ion-icon>
                        </span>
                        <span class="title">Routing</span>
                    </a>
                </li>
                <li>
                    <a href="/Covid.html">
                        <span class="icon">
                            <ion-icon name="bug"></ion-icon>
                        </span>
                        <span class="title">Covid 19</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="help"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="settings"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="lock"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="log-out"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--main-->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu"></ion-icon>
                </div>
                <!--search-->
                <div class="search">
                    <label>
                        <input type="text" placeholder="     Search here" id="myInput" onkeyup="myFunction()">
                        <ion-icon name="search"></ion-icon>
                    </label>
                </div>
                <div class="user">
                    <img src="/img/2.jpg" alt="">

                </div>
            </div>
            <div style="height: 90vh;" 
            id="mapid">
        
            </div>
            </div>
            <div class="kel" style="top:70;">
                <a class="jig">
                   <!-- <button clear text-center (click)="toggle()">
                        <ion-icon name="arrow-drop down-circle" *ngIf="!visible"></ion-icon>
                        <ion-icon name="arrow-drop up-circle" *ngIf="visible"></ion-icon>
                     </button>-->
                    <ion-icon name="arrow-dropright"></ion-icon>
                </a>
            </div>
        <!--<div class="main1">
            <div class="toggle1">
                <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
            </div>-->
   
        
        
        </div>
    </div>

    <script>
   //switching icons
   $(".jig").click(function() {
    // var nav = $(".js-main-nav");
     var icon = $(".jig ion-icon");
     if (icon.attr("name") == "arrow-dropright") {
        icon.attr("name", "arrow-dropleft");
     } 
     else {
        icon.attr("name", "arrow-dropright")
     }
     /* appear and disappear */
     nav.slideToggle(200);
  });
  </script>
  <script>
        //toggle menu
        let toggle = document.querySelector('.toggle');
        let nav = document.querySelector('.nav');
        let main = document.querySelector('.main');

        toggle.onclick = function () {
            nav.classList.toggle('active')
            main.classList.toggle('active')
        }

        //hover class in selected list items
        let list = document.querySelectorAll('.nav li');
        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
            item.addEventListener('mouseover', activeLink));
 
   
    </script>
    <script>

        var mymap = L.map('mapid').setView([50.27264, 7.26469], 13);
          console.log(mymap);
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(mymap);
          var control = L.Routing.control({
          waypoints: [
          // L.latLng(6.605874, 3.349149),
          // L.latLng(6.517912, 3.385983)
          ],
          router: new L.Routing.osrmv1({
            language: 'en',
            profile: 'car'
          }),
          geocoder: L.Control.Geocoder.nominatim({})
          }).addTo(mymap);

    </script>
    <script>
        //toggle menu
        let jig = document.querySelector('.jig');
        let jug = document.querySelector('.jug');
        let niv = document.querySelector('.leaflet-right');
        let kel = document.querySelector('.kel');
        let kel1 = document.querySelector('.kel1');
        let niv1 = document.querySelector('.leaflet-routing-alternatives-container');
  
        jig.onclick = function () {
            niv.classList.toggle('active')
            kel.classList.toggle('active')
        }
   //     jug.onclick = function () {
     //       niv1.classList.toggle('active')
       //     kel1.classList.toggle('active')
        //}
  
    </script>
</body>

</html>